<tr>
	<td> <input type="number" 
			    data-food_id="<%= food.id %>" 
				data-food_protein="<%= food.protein %>" 
				data-food_carb="<%= food.carb %>" 
				data-food_fat="<%= food.fat %>" 
				data-food_kcal="<%= food.kcal %>" class="input_cell" value="0.1"></td>	
	<td><%= food.name %></td>	
	<td class="centered td_food_protein"><%= food.protein %></td>	
	<td class="centered td_food_carb"><%= food.carb %></td>	
	<td class="centered td_food_fat"><%= food.fat %></td>	
	<td class="centered td_food_kcal"><%= food.kcal %></td>	
</tr>