<p id="notice"><%= notice %></p>

<h1>Category Foods</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Icon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @category_foods.each do |category_food| %>
      <tr>
        <td><%= category_food.name %></td>
        <td><%= category_food.description %></td>
        <td><%= category_food.icon %></td>
        <td><%= link_to 'Show', category_food %></td>
        <td><%= link_to 'Edit', edit_category_food_path(category_food) %></td>
        <td><%= link_to 'Destroy', category_food, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Category Food', new_category_food_path %>
